<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Note</ion-list-header>
          <ion-note>The issue occurs on iOS only</ion-note>
          <ion-list-header>Description</ion-list-header>
          <ion-note>When navigating from First to Second with the Low Power mode enabled, the menu will close instantly without the animation.</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                <h2>{{ p.title }}</h2>
                <p>{{ p.text }}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
